
@page "{id:int}"
@model AuditSentinel.Pages.Plantillas.DetailsModel
@{
    ViewData["Title"] = "Detalles de Plantilla";
}
<div class="p-5">
<h2>Detalles</h2>

<div class="card p-3">
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt><dd class="col-sm-9">@Model.Plantilla.NombrePlantilla</dd>
        <dt class="col-sm-3">Versión</dt><dd class="col-sm-9">@Model.Plantilla.Version</dd>
    </dl>

    <h5>Vulnerabilidades relacionadas</h5>
    <ul>
        @foreach (var x in Model.Plantilla.PlantillasVulnerabilidades)
        {
            <li>@x.Vulnerabilidades?.NombreVulnerabilidad (@x.Vulnerabilidades?.NivelRiesgo)</li>
        }
    </ul>

    <div class="mt-3 d-flex gap-2">
        <a asp-page="Edit" asp-route-id="@Model.Plantilla.IdPlantilla" class="btn btn-warning">Editar</a>
        <a asp-page="Index" class="btn btn-secondary">Volver</a>
    </div>
</div>
</div>