
@page
@model AuditSentinel.Pages.Plantillas.IndexModel
@{
    ViewData["Title"] = "Plantillas";
}
<h2>Plantillas</h2>
<p><a class="btn btn-primary" asp-page="Create">Nueva Plantilla</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Versión</th>
            <th># Vulnerabilidades</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model.Items)
    {
        <tr>
            <td>@p.NombrePlantilla</td>
            <td>@p.Version</td>
            <td>@(p.PlantillasVulnerabilidades?.Count ?? 0)</td>
            <td class="text-end">
                <a asp-page="Edit" asp-route-id="@p.IdPlantilla" class="btn btn-sm btn-primary">Editar</a>
                <a asp-page="Details" asp-route-id="@p.IdPlantilla" class="btn btn-sm btn-secondary">Detalles</a>
                <a asp-page="Delete" asp-route-id="@p.IdPlantilla" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
        <a asp-page="/Configuracion" class="btn btn-secondary">Volver</a>
</div>