@page
@model AuditSentinel.Pages.Escaneos.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Escaneos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escaneos.NombreEscaneo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escaneos.NombreEscaneo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escaneos.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escaneos.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escaneos.FechaEscaneo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escaneos.FechaEscaneo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Escaneos.IdEscaneo" class="btn btn-primary">Editar</a> |
    <a asp-page="./Index" class="btn btn-secondary">Volver</a>
</div>
