@page
@model AuditSentinel.Pages.Escaneos.IndexModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Analista,Administrador")]

@{
    ViewData["Title"] = "Lista Escaneos";
}

<h1>Lista Escaneos</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Nuevo Escaneo</a>
</p>

<div class="card p-3">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Escaneos[0].NombreEscaneo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escaneos[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escaneos[0].FechaEscaneo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Escaneos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEscaneo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEscaneo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdEscaneo" class="btn btn-primary">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdEscaneo" class="btn btn-secondary">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdEscaneo" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
