@page
@model AuditSentinel.Pages.Servidores.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>ELIMINAR</h1>

<h3>¿Esta seguro que desea eliminarlo?</h3>
<div>
    <h4>Servidores</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servidores.NombreServidor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servidores.NombreServidor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servidores.IP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servidores.IP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servidores.SistemaOperativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servidores.SistemaOperativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servidores.Create_is)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servidores.Create_is)
        </dd>
    </dl>
    <br>
    <form method="post">
        <input type="hidden" asp-for="Servidores.IdServidor" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-primary" >Volver</a>
    </form>
</div>
