@page
@model AuditSentinel.Pages.Reportes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reportes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reportes.NombreReporte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reportes.NombreReporte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reportes.cumplimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reportes.cumplimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reportes.Creado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reportes.Creado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reportes.IdReporte">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
