@page
@model AuditSentinel.Pages.Reportes.IndexModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Auditor,Analista,Administrador")]

@{
    ViewData["Title"] = "Repporte";
}

<h1>Reportes</h1>

<p>
    <a asp-page="Create" class="btn btn-primary" >Nuevo Reporte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reportes[0].NombreReporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reportes[0].cumplimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reportes[0].Creado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reportes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreReporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cumplimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creado)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdReporte" class="btn btn-primary">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdReporte" class="btn btn-secondary">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdReporte" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
